@use '../abstracts/' as *;

.app {
    width: 100%;
    height: 1710px;
    background: url(../assets/images/Rectangle-14.png) lightgray 50% / cover no-repeat;
}
.app__heading {
    padding-top: 1px;
}
.app__heading .saction-heading, 
.app__heading .saction-text {
    color: $color-white;
}

.app__content {
    @include flex($display: flex,$direction: false,$align: center,
    $justify: center,$wrap: false,$gap: 60px);
}
.app__content--center {
    @include flex($display: flex,$direction: column,$align: center,
    $justify: center,$wrap: false,$gap: false);
} 
.app__content--left {
    @include flex($display: flex,$direction: column,$align: flex-end,
    $justify: false,$wrap: false,$gap: 340px);
    height: 768px;
}
.app__content--right {
    @include flex($display: flex,$direction: column,$align: flex-start,
    $justify: false,$wrap: false,$gap: 340px);
    height: 768px;
}
.app__content--center,
.app__content--left,
.app__content--right {
    flex: 1;
}
.app__content--center__item {
    @include flex($display: flex,$direction: column,$align: center,
    $justify: center,$wrap: false,$gap: 18px);
}
.app__content--left__item {
    @include flex($display: flex,$direction: column,$align: flex-end,
    $justify: false,$wrap: false,$gap: 18px);
}
.app__content--left__item .app__content--para {
    text-align: end;
}
.app__content--right__item {
    @include flex($display: flex,$direction: column,$align: flex-start,
    $justify: false,$wrap: false,$gap: 18px);
}
.app__content--right__item .app__content--para {
    text-align: start;
}
.app__content--icon {
    position: relative;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.app__content--heading {
    @include font($font-family:$primary-font,$font-size: 25px,$font-weight:600,$font-style:normal,$line-height: 37.5px,$color:$color-white);
    text-align: center;
    text-transform: uppercase;
}
.app__content--para {
    width: 297px;
    height: 43px;
    flex-shrink: 0;
    @include font($font-family:$primary-font,$font-size: 16px,$font-weight:400,$font-style:normal,$line-height: 24px,$color:$color-white);
    text-align: center;
}
.app__content--img {
    margin: 60px 0;
    width: 375px;
    height: 812px;
    flex-shrink: 0;
    border-radius: 40px;
    box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.50);
    object-fit: cover;
}
.app__content--icon-special {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    position: relative;
}
.icon__top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.667px;
    height: 18.667px;
}
.icon__top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.667px;
    height: 18.667px;
}
.icon__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55.999px;
    height: 37.333px;
}
.icon__bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18.667px;
    height: 18.667px;
}
.icon__bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18.667px;
    height: 18.667px;
}
.icon__top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 29.395px;
}
.icon__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20.06px;
    height: 5.957px;
}
.icon__vector-center {
    width: 26.367px;
    height: 28.927px;
}
.icon__vector-dot {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2.93px;
    height: 2.93px;
}

 /* responsive */
// desktop
@media (min-width: 1201px){
    
}

// taplet large
@media (min-width: 992px) and (max-width: 1200.5px) {
    .app {
        height: 1563px;
    }
    .app__content--img {
        width: 314px;
        height: 668px;
        object-fit: inherit;
    }
    .app__content--heading {
        font-size: 20px;
    }
    .app__content {
        gap: 30px;
    }
    .app__content--left,
    .app__content--right {
        gap: 240px;
    }
    .app__content--left,
    .app__content--right {
        height: 568px;
    }
}

// tablet mini
@media (min-width: 768px) and (max-width: 991.5px) {
    .app {
        height: 1377px;
    }
    .app__heading .saction-text {
        width: 450px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .app__content {
        gap: 18px;
    }
    .app__content--center {
        width: 214px;
        flex: 0;
    }
    .app__content--left {
        height: 435px;
        gap: 86px;
    }
    .app__content--right {
        height: 436px;
        gap: 50px;
    }
    .app__content--img {
        width: 214px;
        height: 468px;
        object-fit: inherit;
    }
    .app__content--heading {
        font-size: 20px;
        line-height: 30px;
    }
    .app__content--right .app__content--heading {
        width: 215px;
        text-align: start;
    }
    .app__content--para {
        width: 215px;
        height: 43px;
    }
}

// mobile
@media  (max-width: 767.5px) {
    .app {
        height: 2114px;
    }
    .app__heading .saction-heading {
        font-size: 25px;
        font-weight: 600;
        line-height: 37.5px;
        margin: 60px auto 18px;
    }
    .app__heading .saction-text {
        width: 300px;
        margin-bottom: 40px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .app__content {
        flex-direction: column;
        gap: 60px;
    }
    .app__content--left,
    .app__content--right {
        gap: 60px;
    }
    .app__content--left__item,
    .app__content--right__item {
        align-items: center;
    }
    .app__content--left__item .app__content--para,
    .app__content--right__item .app__content--para {
        text-align: center;
    }
    .app__content--right {
        gap: 60px
    }
    .app__content--right .app__content--heading {
        text-align: center;
    }
    .app__content--img {
        width: 214px;
        height: 468px;
        object-fit: inherit;
    }
    .app__content--center {
        width: 214px;
        flex: 0;
    }
    .app__content--heading {
        font-size: 20px;
        line-height: 30px;
    }
    .app__content--para {
        width: 215px;
        height: 43px;
    }
} 