@use '../abstracts/' as *;

.card {
    width: 370px;
    height: 500px;
    border-radius: 10px;
    background: $color-white;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}

.card__img {
    width: 370px;
    height: 228px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}
.card__content {
    margin: 40px 18px 36px;
    width: 334px;
}
.card__title {
    @include font($font-family:$primary-font,$font-size: 20px,$font-weight:600,$font-style:normal,$line-height: 30px,$color:$text-color-primary);
    text-transform: uppercase;
}
.card__para {
    margin: 10px 0 28px;
    width: 334px;
    height: 72px;
    flex-shrink: 0;
    @include font($font-family:$primary-font,$font-size: 16px,$font-weight:400,$font-style:normal,$line-height: 24px,$color:$text-color-gray);
}
.card__link {
    @include font($font-family:$primary-font,$font-size: 20px,$font-weight:600,$font-style:normal,$line-height: 26px,$color:$color-primary);
    text-decoration-line: underline;
    text-transform: uppercase;
}
