
@use '../abstracts/' as *;

.saction-heading {
    margin: 120px auto 23px auto;
    @include font($font-family:$primary-font,$font-size: 31.25px,$font-weight:700,$font-style:normal,$line-height: 47.25px,$color:$text-color-primary);
    text-align: center;
    text-transform: uppercase;
}
.saction-text {
    margin: 0 auto 60px auto;
    width: 601px;
    height: 70px;
    @include font($font-family:$primary-font,$font-size: 16px,$font-weight:400,$font-style:normal,$line-height: 24px,$color:$text-color-gray);
    text-align: center;
}