@use '../abstracts/' as *;
.download-app {
    margin: 0 auto 120px auto;
    width: 1166px;
    height: 506px;
    @include flex($display: flex,$direction: false,$align: center,
    $justify: space-between,$wrap: false,$gap: 80px);
}
.download-app__main {
    height: 100%;
}
.download-app__heading .saction-heading,
.download-app__heading .saction-text{
    text-align: start;
}
.download-app__heading .saction-heading {
    margin-top: 17px;
}
.download-app__heading .saction-text {
    margin-bottom: 40px;
    width: 570px;
    height: 87px;
    flex-shrink: 0;
}
.download-app__img--top {
    width: 516px;
    height: 480px;
    flex-shrink: 0;
    object-fit: cover;
}
.download-app__links {
    @include flex($display: flex,$direction: false,$align: center,
    $justify: start,$wrap: false,$gap: 25px);
    margin-bottom: 59px;
}
.download-app__interactions {
    @include flex($display: flex,$direction: false,$align: center,
    $justify: start,$wrap: false,$gap: 30px);
}
.download-app__interaction-item {
    background-color: $color-primary;
    width: 170px;
    height: 176px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}
.download-app__img {
    width: 516px;
    height: 100%;
    position: relative;
}
.download-app__img--top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.download-app__img--bottom {
    width: 212px;
    height: 71px;
    position: absolute;
    bottom: -4px;
    left: 44%;
    transform: translateX(-50%);
    fill: var(--White, #FFF);
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.10));
}
.download-app__interaction-item {
    @include flex($display: flex,$direction: column,$align: center,
    $justify: center,$wrap: false,$gap: 18px);
}
.download-app__interaction-icon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.download-app__interaction-icon:hover,
.download-app__link-item:hover {
    transform: scale(1.05);
}
.download-app__interaction-quantity {
    @include font($font-family:$primary-font,$font-size: 25px,$font-weight:600,$font-style:normal,$line-height: normal,$color:$color-white);
    text-transform: uppercase;
}
.download-app__interaction-title {
    @include font($font-family:$primary-font,$font-size: 20px,$font-weight:600,$font-style:normal,$line-height: 30px,$color:$color-white);
    text-transform: uppercase;
}

/* responsive */
// desktop
@media (max-width: 1201px){
    
}

// taplet large
@media (min-width: 992px) and (max-width: 1200.5px) {
    .download-app {
        width: 952px;
        height: 447px;
    }
    .download-app__heading .saction-heading {
        width: 358px;
        margin-top: 17px;
        margin-left: 0;
    }
    .download-app__heading .saction-text {
        margin-left: 0;
        width: 329px;
        height: 73px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .download-app__interaction-item {
        width: 135px;
        height: 145px;
        gap: 8px;
    }
    .download-app__interaction-icon {
        width: 25px;
        height: 25px;
        margin-bottom: 4px;
    }
    .download-app__interaction-quantity {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }
    .download-app__interaction-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
    }
    .download-app__img--top {
        width: 443.482px;
        height: 413.146px;
    }
    .download-app__img--top {
        top: 20px;
        left: -34px;
    }
    .download-app__img--bottom {
        bottom: -10px;
        left: 40%;
    }
}

// tablet mini
@media (min-width: 768px) and (max-width: 991.5px) {
    .download-app {
        width: 687.482px;
        height: 414px;
    }
    .download-app__heading {
        margin-top: 0;
    }
    .download-app__heading .saction-heading {
        margin-top: 0;
        margin-left: 0;
        width: 288px;
        height: 95px;
    }
    .download-app__heading .saction-text {
        margin-left: 0;
        margin-bottom: 40px;
        width: 329px;
        height: 73px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .download-app__interaction-item {
        width: 96px;
        height: 100px;
        gap: 8px;
    }
    .download-app__interaction-icon {
        width: 18px;
        height: 18px;
        margin-bottom: 4px;
    }
    .download-app__interaction-quantity {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }
    .download-app__interaction-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
    }
    .download-app__img--top {
        width: 334.482px;
        height: 311.146px;
        top: 82px;
        left: -72px;
    }
    .download-app__img--bottom {
        bottom: -8px;
        left: 30%;
    }
    .download-app__links {
        margin-bottom: 40px;
    }
}

// mobile
@media  (max-width: 767.5px) {
    .download-app {
        margin-bottom: 60px;
        flex-direction: column;
        gap: 60px;
        width: 338.482px;
        height: 801px;
    }
    .download-app__heading {
        margin-top: 0;
    }
    .download-app__heading .saction-heading {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 18px;
        width: 288px;
        height: 95px;
    }
    .download-app__heading .saction-text {
        margin-left: 0;
        margin-bottom: 40px;
        width: 329px;
        height: 73px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .download-app__interaction-item {
        width: 96px;
        height: 100px;
        gap: 8px;
    }
    .download-app__interaction-icon {
        width: 18px;
        height: 18px;
        margin-bottom: 4px;
    }
    .download-app__interaction-quantity {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }
    .download-app__interaction-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
    }
    .download-app__img--top {
        width: 334.482px;
        height: 311.146px;
        left: 90px;
    }
    .download-app__img--bottom {
        bottom: -8px;
        left: 46%;
    }
    .download-app__links {
        margin-bottom: 40px;
    }
} 