@use '../abstracts/' as *;

.use-app {
    position: relative;
    width: 100%;
    height: 682px;
}
.use-app__content {
    position: absolute;
    top: 42px;
    width: 100%;
    height: 477px;
    background: url(../assets/images/Rectangle-15.png);
}
.use-app__video {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 770px;
    height: 319px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(145, 139, 249, 0.4) 0%, rgba(145, 139, 249, 0.4) 100%), url(../assets/images/Image.png) lightgray 50% / cover no-repeat;
    border-radius: 10px;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.24);
}
.use-app__heading .saction-heading,
.use-app__heading .saction-text {
    color: $color-white;
}
.use-app__video-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* responsive */
// desktop
@media (max-width: 1201px){
    
}

// taplet large
@media (min-width: 992px) and (max-width: 1200.5px) {
    
}

// tablet mini
@media (min-width: 768px) and (max-width: 991.5px) {
    .use-app {
        height: 565px;
    }
    .use-app__content {
        height: 402px;
    }
    .use-app__heading .saction-heading {
        margin: 50px auto 18px;
        width: 357px;
    }
    .use-app__heading .saction-text {
        width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .use-app__video {
        width: 570px;
        height: 231px;
    }
}

// mobile
@media  (max-width: 767.5px) {
    .use-app {
        height: 472px;
    }
    .use-app__content {
        height: 357px;
    }
    .use-app__heading .saction-heading {
        margin: 60px auto 40px;
        width: 281px;
        height: 71px;
    }
    .use-app__heading .saction-text {
        width: 300px;
        height: 70px;
        margin-bottom: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .use-app__video {
        width: 343px;
        height: 150px;
    }
} 
