<div id="about-saction" class="about-saction">
    <div class="content-container">
        <div class="about-saction__heading">
            <include src="./components/content-saction.html" locals='{
            "list": [{"heading":"About our app","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]      
            }'>  
            </include>
        </div>
        <div class="about-saction__content">
            <div class="about-saction__img">
                <img src="../assets/images/android-smartphone.png" alt="" class="about-saction__img--top">
                <img src="../assets/icons/Ellipse-bottom.svg" alt="Ellipse-bottom" class="about-saction__img--bottom">
            </div>
    
            <div class="about-saction__toasts">
                <include src="./components/toast.html" locals='{
                    "list": [{"heading":"Creative design","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit."},
                    {"heading":"easy to use","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit."},
                    {"heading":"Best user experince","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit."}]
                }'>
                    
                </include>
            </div>
        </div>
    </div>
</div>