
<div id="screenshot-saction" class="app-interface">
    <div class="content-container">
        <div class="app-heading">
            <include class="content-saction" src="./components/content-saction.html" locals='{
                "list": [{"heading":"Checkout Our App Interface Look","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
                }'>   
                </include>
        </div>
    
        <div class="app-interface__slider">
            <div class="app-interface__slider-main">
                <div class="slider__toggle-left">
                    <img src="../assets/icons/Ellipse-white.svg" alt="" class="slider__toggle-left__icon">
                    <img src="../assets/icons/arrow-left.svg" alt="" class="slider__toggle-left__icon-arrow">
                </div>
    
                <div class="slider__img">
                    <div class="slider__img-left">
                        <img src="../assets/images/000.png" alt="" class="img__item-left">
                        <img src="../assets/images/003.png" alt="" class="img__item-right">
                    </div>
                    <div class="slider__img-center">
                        <img src="../assets/images/iPhoneX.png" alt="" class="img__item-center">
                    </div>
                    <div class="slider__img-right">
                        <img src="../assets/images/001.png" alt="" class="img__item-left">
                        <img src="../assets/images/004.png" alt="" class="img__item-right">
                    </div>
                </div>
    
                <div class="slider__toggle-right">
                    <img src="../assets/icons/Ellipse-blue.svg" alt="" class="slider__toggle-right__icon">
                    <img src="../assets/icons/arrow-right.svg" alt="" class="slider__toggle-right__icon-arrow">
                </div>
            </div>
    
            <div class="slider__loading-bar">
                <img src="../assets/icons/Slider.svg" alt="" class="slider__loading-bar__icon">
            </div>
        </div>
    </div>
</div>