
<div class="app">
    <div class="app__heading">
        <include class="content-saction" src="./components/content-saction.html" locals='{
        "list": [{"heading":"App features","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
        }'>   
        </include>
    </div>

    <div class="app__content">
        <div class="app__content--left">
            <div class="app__content--left__item">
                <img src="../assets/icons/surface1.svg" alt="surface1" class="app__content--icon">
                <h5 class="app__content--heading">unlimiter features</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="app__content--left__item">
                <div class="app__content--icon">
                    <img src="../assets/icons/vector-top.svg" alt="vector-top" class="icon__top">
                    <img src="../assets/icons/vector-center.svg" alt="vector-center" class="icon__center icon__vector-center">
                    <img src="../assets/icons/vector-dot.svg" alt="vector-dot" class=" icon__vector-dot">
                    <img src="../assets/icons/vector-bottom.svg" alt="vector-bottom" class="icon__bottom">
                </div>
                <h5 class="app__content--heading">awsome ui design</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="app__content--center">
            <div class="app__content--center__item">
                <img src="../assets/icons/comment.svg" alt="comment" class="app__content--icon">
                <h5 class="app__content--heading">Full free chat</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <img src="../assets/images/App.png" alt="App" class="app__content--img">
            <div class="app__content--center__item">
                <img src="../assets/icons/male-telemarketer.svg" alt="male-telemarketer" class="app__content--icon">
                <h5 class="app__content--heading">24/7 support by real pepole</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="app__content--right">
            <div class="app__content--right__item">
                <img src="../assets/icons/phone.svg" alt="phone" class="app__content--icon">
                <h5 class="app__content--heading">iso & androind version</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="app__content--right__item">
                <div class="app__content--icon-special">
                    <img src="../assets/icons/eye-corner-top-left.svg" alt="eye-corner-top-left" class="icon__top-left">
                    <img src="../assets/icons/eye-cornor-top-right.svg" alt="eye-cornor-top-right" class="icon__top-right">
                    <img src="../assets/icons/eye-scanner.svg" alt="eye-scanner" class="icon__center">
                    <img src="../assets/icons/eye-cornor-bottom-left.svg" alt="eye-cornor-bottom-left" class="icon__bottom-left">
                    <img src="../assets/icons/eye-cornor-bottom-right.svg" alt="eye-cornor-bottom-right" class="icon__bottom-right">
                </div>
                <h5 class="app__content--heading">retina ready greaphics</h5>
                <p class="app__content--para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    
</div>