
<div class="download-app">
    <div class="download-app__main">
        <div class="download-app__heading">
            <include class="content-saction" src="./components/content-saction.html" locals='{
                "list": [{"heading":"Download App Now","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
                }'>   
                </include>
        </div>

        <div class="download-app__links">
            <img src="../assets/images/chplay.png" alt="" class="download-app__link-item">
            <img src="../assets/images/appstore.png" alt="" class="download-app__link-item">
        </div>

        <div class="download-app__interactions">
            <div class="download-app__interaction-item">
                <img src="../assets/icons/download.svg" alt="" class="download-app__interaction-icon">
                <h5 class="download-app__interaction-quantity">59865</h5>
                <h6 class="download-app__interaction-title">Download</h6>
            </div>
            <div class="download-app__interaction-item">
                <img src="../assets/icons/thumb-up.svg" alt="" class="download-app__interaction-icon">
                <h5 class="download-app__interaction-quantity">29852</h5>
                <h6 class="download-app__interaction-title">Like</h6>
            </div>
            <div class="download-app__interaction-item">
                <img src="../assets/icons/star.svg" alt="" class="download-app__interaction-icon">
                <h5 class="download-app__interaction-quantity">1500</h5>
                <h6 class="download-app__interaction-title">5 star rating</h6>
            </div>
        </div>
    </div>

    <div class="download-app__img">
        <img src="../assets/images/iPhone-12.png" alt="iPhone-12" class="download-app__img--top">
        <img src="../assets/icons/Ellipse-bottom.svg" alt="Ellipse-bottom" class="download-app__img--bottom">
    </div>
</div>