
<div class="customers">
    <div class="content-container">
        <div class="customers__heading">
            <include class="content-saction" src="./components/content-saction.html" locals='{
                "list": [{"heading":"Our Happy Customers","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
                }'>   
            </include>
        </div>
    
        <div class="customers__sliders">
            <div class="customers__sliders-img">
                <include src="./components/business-card.html" locals='{
                    "list": [
                    {"name":"Ann Lubin","position":"Co-Founder ","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.","images":"../assets/images/Profile4.svg"},
                    {"name":"Ann Lubin","position":"Co-Founder ","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.","images":"../assets/images/Profile4.svg"},
                    {"name":"Ann Lubin","position":"Co-Founder ","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.","images":"../assets/images/Profile4.svg"}
                ]}'>
                </include>
            </div>
    
            <div class="slider__loading-bar">
                <img src="../assets/icons/Slider-while.svg" alt="Slider" class="slider__loading-bar__icon">
            </div>
        </div>
    </div>
</div>