<div class="reative-team">
    <div class="reative-team__heading">
        <include src="./components/content-saction.html" locals='{
            "list": [{"heading":"Our reative team","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]      
            }'>  
            </include>
    </div>

    <div class="reative-team__members">
        <include src="./components/profile.html" locals='{
            "list": [
            {"name":"Carla Press","position":"App Developer","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae.","avarta":"../assets/images/Profile1.svg"},
            {"name":"Craig Gouse","position":"UI/UX Designer","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae.","avarta":"../assets/images/Profile2.svg"},
            {"name":"Jocelyn Septimus","position":"Website developer","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae.","avarta":"../assets/images/Profile3.svg"}
            ]
        }'>
    </include>
    </div>
</div>