
<div id="blog-saction" class="blog">
    <div class="content-container">
        <div class="blog__heading">
            <include class="content-saction" src="./components/content-saction.html" locals='{
                "list": [{"heading":"Our recent blog","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
                }'>   
            </include>
        </div>
    
        <div class="blog__cards">
            <include src="./components/card.html" locals='{
                "list": [
                {"title":"The Snap Pixel: How It Works and How to Install","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.","images":"../assets/images/Image1.png"},
                {"title":"Global Partner Solutions: A Partnership of Innovation","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.","images":"../assets/images/Image2.png"},
                {"title":"2021: An opportunity for Snapchatters to start fresh","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.","images":"../assets/images/Image3.png"}
            ]}'>
            </include>
        </div>
    </div>
</div>