
<div class="use-app">
    <div class="use-app__content">
        <div class="use-app__heading">
            <include class="content-saction" src="./components/content-saction.html" locals='{
                "list": [{"heading":"how to use the app perfectly","text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat."}]
                }'>   
                </include>
        </div>
    </div>

    <div class="use-app__video">
        <div class="use-app__video-icons">
            <div class="use-app__video-item">
                <img src="../assets/icons/Ellipse-white-1.svg" alt="">
            </div>
            <div class="use-app__video-item">
                <img src="../assets/icons/Ellipse-white-2.svg" alt="">
            </div>
            <div class="use-app__video-item">
                <img src="../assets/icons/Ellipse-white-3.svg" alt="">
            </div>
            <div class="use-app__video-item">
                <img src="../assets/icons/video.svg" alt="">
            </div>
        </div>
    </div>
</div>