@use "../abstracts/" as *;
@font-face {
    font-family: PoppinsRegular;
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
    font-family: JosefinSans ;
    src: url(../asset/fonts/JosefinSans/JosefinSans-Regular.ttf) format("truetype");
}

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: pxToRem(14);
    max-width: 1600px;
    margin: 0 auto;
    min-width: 320px;
}