
//color
$color-primary: #5956E9;
$color-white:#fff;
$text-color-primary: #232233;
$text-color-gray: #6C6C72;

//responsive
$small:429px;
$mobiles:calc($small - 1px);
$medium: 768px;
$extra-large:1200px;
$desktop: calc($extra-large + 0px);
$tablet: calc($extra-large - 1px);

//font
$primary-font : Josefin Sans;
