
<div class="footer">
    <div class="footer__content">
        <div class="footer__logo">
            <h4 class="footer__logo-title">Logo</h4>
            <p class="footer__logo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p>
            <div class="profile__social">
                <img src="../assets/icons/facebook.svg" alt="facebook" class="profile__social-icon">
                <img src="../assets/icons/facebook-blue.svg" alt="facebook" class="profile__social-icon">
                <span class="profile__line"></span>
                <img src="../assets/icons/instagram.svg" alt="instagram" class="profile__social-icon">
                <span class="profile__line"></span>
                <img src="../assets/icons/twitter.svg" alt="twitter" class="profile__social-icon">
                <span class="profile__line"></span>
                <img src="../assets/icons/youtube.svg" alt="youtube" class="profile__social-icon">
            </div>
        </div>

        <div class="footer__quick-link">
            <h5 class="footer__quick-link__title">quick link</h5>
            <p class="footer__quick-link__item">About</p>
            <p class="footer__quick-link__item">Features</p>
            <p class="footer__quick-link__item">Screenshot</p>
            <p class="footer__quick-link__item">Blog</p>
        </div>

        <div class="footer__news-letter">
            <h5 class="footer__news-letter__title">news letter</h5>
            <p class="footer__news-letter__para">
                Subscribe our newsletter to get our latest 
                update & news</p>
            <form action="" class="footer__news-letter__form-send">
                <input type="text" class="footer__news-letter__input" placeholder="Your email address">
                <button class="footer__news-letter__send">
                    <div class="footer__news-letter__box-icon">
                        <img src="../assets/icons/send-plane.svg" alt="send-plane" class="footer__news-letter__icon">
                    </div>
                </button>
            </form>
        </div>
    </div>

    <div class="footer__copyright">
        <img src="../assets/icons/copy-right.svg" alt="" class="footer__copyright-icon">
        <p class="footer__copyright-text">
            Copyright 2021 .Ojjomedia. All Right Reserved.
        </p>
    </div>

    <div class="footer__contact">
        <div class="footer__contact-mail">
            <img src="../assets/images/contact-mail.png" alt="contact-mail" class="footer__contact-icon">
            <p class="footer__contact-text">cuongna.dev@gmail.com</p>
        </div>
        <div class="footer__contact-phone">
            <img src="../assets/images/contact-phone.png" alt="contact-phone" class="footer__contact-icon">
            <p class="footer__contact-text">(+84) 931 643 274</p>
        </div>
    </div>
</div>