<div class="header__container">
    <div class="header__menu">
        <div class="header__top">
            <div class="menu__contact">
                <div class="menu__contact--email">
                    <img src="../assets/icons/mail.svg" alt="" class="menu__contact--icon">
                    <p class="menu__contact--text">cuongna.dev@gmail.com</p>
                </div>
    
                <div class="menu__contact--call">
                    <img src="../assets/icons/phone.svg" alt="" class="menu__contact--icon">
                    <p class="menu__contact--text">(+84) 931643274</p>
                </div>
            </div>

            <div class="menu__social">
                <img src="../assets/icons/facebook.svg" alt="" class="menu__contact--icon">
                <img src="../assets/icons/instagram.svg" alt="" class="menu__contact--icon">
                <img src="../assets/icons/twitter.svg" alt="" class="menu__contact--icon">
                <img src="../assets/icons/youtube.svg" alt="" class="menu__contact--icon">
            </div>
        </div>

        <div class="menu__nav">
            <div class="menu__nav--menu">
                <div class="menu__nav--groups-lists">
                    <ul class="menu__nav--list">
                        <li class="menu__nav--item">
                            <a href="../pages/index.html">HOME</a>
                        </li>
                        <li class="menu__nav--item">
                            <a href="#about-saction">ABOUT</a>
                        </li>
                        <li class="menu__nav--item">
                            <a href="#features-saction">FEATURES</a>
                        </li>
                    </ul>
                    <div class="menu-bar">
                        <img src="../assets/icons/menu-line.svg" alt="" class="menu-bar__icon">
                    </div>
                    <ul class="menu__nav--list">
                        <li class="menu__nav--item">
                            <a href="#screenshot-saction">SCREENSHOT</a>
                        </li>
                        <li class="menu__nav--item">
                            <a href="#blog-saction">BLOG</a>
                        </li>
                    </ul>
                </div>

                <button type="submit" class="menu__button--download"><h6 href="#">DOWNLOAD</h6></button>

            </div>

            <div class="menu__nav--logo">
                <a href="../pages/index.html">
                    <img src="../assets/images/Logo.png" alt="logo" class="menu__nav--logo-img">
                </a>
            </div>
        </div>

        
    </div>

    <div class="header__hero">
        <div class="hero__text">
            <div class="hero__upper-frame">
                <h2 class="hero__title">
                    A Great App Makes Your Life Better</h2>
                <p class="hero__para">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <h5 class="hero__sub-title">Download App Now</h5>
                <div class="hero__download">
                    <img src="../assets/images/chplay.png" alt="chplay" class="hero__download--chplay">
                    <img src="../assets/images/appstore.png" alt="appstore" class="hero__download--appstore">
                </div>
            </div>
            <div class="hero__lower-frame">
            </div>
        </div>

        <img src="../assets/images/mobileapp.png" alt="mobileapp" class="hero__img"></img>
    </div>
</div>