
<div class="hero-saction">
    <!-- about saction -->
    <include src="./components/about-saction.html" locals='{}'></include>

    <!-- app features -->
    <include src="./components/app-features.html" locals='{}'></include>

    <!-- app interface  -->
    <include src="./components/app-interface.html" locals='{}'></include>

    <!-- download app now  -->
    <include src="./components/download-saction.html" locals='{}'></include>

    <!-- use the app perfectly -->
    <include src="./components/use-app-saction.html" locals='{}'></include>
</div>


